@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Ruda:wght@400;600;700&display=swap');

h1 {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
}
h3 {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 200;
}
body {
    font-family: 'Ruda', sans-serif;
}