@import './global';
@import './variables';

.background {
    background: url('../images/JCD.jpg') center center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    filter: brightness(40%);
    transform: translate3d(0,0,0); //suggested by AI - fixing issue for iOS
}
#first-section {
    gap: 3rem;
    scroll-snap-align: center; 
    padding-top: 8vh;
    height: 100vh;
    #logo-main {
        width: 80vw;
        padding-left: 14px;
    }
    #store-info {
        text-align: left;
        gap: 1rem;
        .info {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid white;
            border-radius: 3px;
            height: 20vh;
            width: 38vw;
            padding-left: 1rem;
            p {
                #holidays {
                    font-size: .65rem;
                    color: rgb(190, 190, 190);
                }
            }
        }
        #address {
            p {
                line-height: 1.5rem;
            }
        }
        #address:hover {
            cursor: pointer;
        }
        #open-hours {
            gap: .75rem;
        }
    }
    #double-down {
        img {
            width: 15vw;
        }
    }
}
#second-section {
    #first-part {
        scroll-snap-align: start; 
        height: 92vh;
        padding-top: 8vh;
        margin-bottom: 8vh;
        #logo-intro {
            width: 48vw;
            padding-left: 12px;
            margin: 1rem 0 1.5rem 0;
        }
        #images {
            .landscape {
                display: none;
            }
            gap: .75rem;
            width: fit-content;
            margin: 0 auto;
            .grid-item {
                width: 30vw;
                height: 12vh;
            }
            #grid-1 {
                background-image: url('../images/galbi.jpeg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 1;
                border-radius: 20px 0 0 0;
            }
            #grid-2 {
                background-image: url('../images/bibimbap.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 2;
                border-radius: 0 0 0 20px;
            }
            #grid-3 {
                background-image: url('../images/bulgogi.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 1;
                border-radius: 0 20px 0 0;
            }
            #grid-4 {
                background-image: url('../images/porkbelly.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 2;
                border-radius: 0 0 20px 0;
            }
        }
        #welcome-message {
            position: relative;
            #yes-break {
                display: none;
            }
            .orange-font {
                padding: 2rem 1rem 1rem 1rem;
                font-size: 1rem;
                line-height: 1.65rem;
                letter-spacing: 0.25px;
                font-weight: 700;
            }
            hr {
                width: 60%;
                margin: 0 auto;
                height: .5px;
            }
            .gray-font {
                font-weight: 200;
                padding: .95rem 1.25rem;
                line-height: 1.5rem;
            }
        }
    
    }
    #second-part {
        #welcome {
            display: none;
        }
        padding-top: 8vh;
        height: 92vh;
        scroll-snap-align: start; 
        a {
            color: white;
        }
        #map {
            // padding: calc(3rem + 6vh) 0 3rem 0;
            padding: 2rem 0;
            iframe {
                width: 280px;
                height: 280px;
                border: .5px solid black; 
            }
            a {
                margin: 1.75rem auto 0 auto;
                width: fit-content;
                background-color: rgb(255, 140, 0);
                padding: .75rem 1.25rem;
                border-radius: 15px;
            }
            #landscape-only {
                display: none;
            }
        }
        #logo-end {
            width: 38vw;
            padding-left: 12px;
        }
        #white-background {
            width: 100vw;
            height: 120vh;
            background-color: white;
            position: absolute;
            top: calc(100vh + 48vh);
            z-index: -2;
        }  
    }
}
#footer {
    height: 8vh;
    p {
        font-size: .65rem;
        line-height: 1.5;
    }
    .copyright {
        display: none;
    }
}
#section-contact {
    height: 80vh;
    margin-top: 8vh;
    gap: 2rem;
    .card {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        width: 30vw;
        height: 54vh;
        background-color: rgb(252, 252, 252);
        gap: 2rem;
    }
    iframe {
        width: 20vw;
        height: 20vh;
        border: 0;
    }
    p {
        color: black;
        font-size: 1.15rem;
    }
    h1 {
        font-size: 2rem;
        line-height: 1.75rem;
    }
    .black-font {
        color: black;
    }
    #copyLink {
        padding: 1.5rem 0 .25rem 0;
        line-height: 1.75rem;
    }
    #copyLink:hover {
        text-decoration: underline;
        transition-duration: .6s;
        cursor: pointer;
    }
    #click {
        color: rgb(255, 140, 0);
        font-size: .85rem;
    }
    #open-hours {
        width: fit-content;
        height: fit-content;
        margin: 1.5rem auto;
        line-height: 2rem;
        gap: 2rem;
        #days {
            letter-spacing: 1px;
            font-weight: 600;
            #blue {
                color: rgb(0, 0, 195);
            }
            #red {
                color: rgb(195, 0, 0);
            }
        }
        #time {
            text-align: left;
        }
    }
    #phone {
        background-color: rgb(255, 140, 0);
        padding: 1rem 2rem;
        border-radius: 15px;
        p {
            color: white;
        }
    }
    #footer {
        top: 88vh;
    }
}
@media screen and (max-width: 375px) {
    header {
        nav {
            #menu {
                padding: 2rem 0;
                li {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                }
            }        
        }
    }
    #first-section {
        gap: 3.5rem;
        .store-name {
            font-size: 2.75rem;
            line-height: 3.5rem;
            padding-top: calc(2rem + 8vh);
            p {
                font-size: .85rem;
            }
        }
        #store-info {
            .info {
                p {
                    font-size: .85rem;
                }
            }
        }
        #double-down {
            img {
                width: 12.5vw;
            }
        }
    }
    #second-section {
        #first-part {
            gap: 0;
            #logo-intro {
                width: 48vw;
                margin-bottom: 1rem;
            }
            #images {
                gap: .75rem;
                .grid-item {
                    width: 30vw;
                }
            }
            #welcome-message {
                .orange-font {
                    font-size: .9rem;
                    line-height: 1.5rem;
                    padding: 1.5rem 1.75rem 1rem 1.75rem;
                }
                .gray-font {
                    font-size: .8rem;
                    line-height: 1.25rem;
                    padding: 1rem 3rem;
                }
            }
        }
        #second-part {
            #map {
                iframe {
                    width: 260px;
                    height: 200px;
                }
                a {
                    font-size: .9rem;
                    border-radius: 12px;
                }
            }
            .store-name {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
    #footer {
        p {
            font-size: .65rem;
            line-height: .9rem;
        }
    }
}
@media screen and (min-width: 540px) {
    header {
        nav {
            #menu {
                padding: 2rem 0;
                li {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                }
            }        
        }
    }
    #first-section {
        gap: 3.75rem;
        #logo-main {
            width: 52vw;
        }
        #double-down {
            img {
                width: 10vw;
            }
        }
    }
    #second-section {
        #first-part {
            #logo-intro {
                width: 36vw;
            }
            #images {
                gap: .8rem;
                .grid-item {
                    width: 28vw;
                }
            }
            #welcome-message {
                .orange-font {
                    font-size: .9rem;
                    line-height: 1.5rem;
                    padding: 1.25rem 0;
                    margin: 0 20vw;
                }
                .gray-font {
                    font-size: .8rem;
                    line-height: 1.25rem;
                    padding: 1rem 0;
                    margin: 0 16vw;
                }
            }
        }
        #second-part {
            #logo-end {
                width: 28vw;
            }
            #map {
                iframe {
                    width: 360px;
                    height: 220px;
                }
                a {
                    margin-top: 1.5rem;
                    font-size: .85rem;
                    padding: .65rem;
                    border-radius: 10px;
                }
            }
        }
    }
}
@media screen and (orientation: landscape) {
    #header-portrait {
        display: none;
    }
    #header-landscape {
        background-color: rgba(0, 0, 0, 0.35);
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: opacity .5s;
        #nav-landscape {
            display: block;
            #menu-landscape {
                a {
                    display: inline-block;
                    cursor: default;
                    li {
                        list-style-type: none;
                        margin: 0 3.5rem;
                        font-size: 1.5rem;
                        color: white;
                        cursor: pointer;
                    }
                    #order-online {
                        width: fit-content;
                        padding: .35rem 1.75rem;
                        border-radius: 12px;
                        background-color: rgb(255, 140, 0);
                        color: white;
                        position: absolute;
                        top: 1.5vh;
                        right: 3vw;
                    }
                    li:hover {
                        color: rgb(255, 140, 0);
                        transition-duration: .6s;
                    }
                    #order-online:hover {
                        font-weight: 400;
                        text-shadow: none;
                        background-color: black;
                        color: rgb(255, 140, 0);
                        transition-duration: .6s;
                    }
                }
            }
        }
    }
    .background {
        background-position-y: 80%;
        filter: brightness(30%);
    }
    #first-section {
        align-items: center;
        justify-content: space-around;
        padding-top: 8vh;
        height: 54vh;
        #logo-main {
            width: 32vw;
            padding-left: 14px;
        }
        #store-info, #double-down {
            display: none;
        }
    }
    #second-section {
        height: 88vh;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        #first-part {
            gap: 0;
            width: 100vw;
            height: 42vh;
            background-color: black;
            justify-content: center;
            #logo-intro {
                display: none;
            }
            #images {
                gap: 0;
                padding: 2rem;
                background-color: white;
                .landscape {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: left;
                    padding: .5rem 1rem .5rem .75rem;
                    h4 {
                        font-size: 1.25rem;
                    }
                    p {
                        color: gray;
                    }
                }
                .grid-item {
                    width: 11vw;
                    height: 265px;
                }
                #grid-1 {
                    border-radius: 0;
                }
                #g-1 {
                    grid-row: 1;
                    grid-column: 2;
                }
                #grid-2 {
                    grid-row: 1;
                    grid-column: 3;
                    border-radius: 0;
                }
                #g-2 {
                    grid-row: 1;
                    grid-column: 4;
                }
                #grid-3 {
                    grid-row: 1;
                    grid-column: 5;
                    border-radius: 0;
                }
                #g-3 {
                    grid-row: 1;
                    grid-column: 6;
                }
                #grid-4 {
                    grid-row: 1;
                    grid-column: 7;
                    border-radius: 0;
                }
                #g-4 {
                    grid-row: 1;
                    grid-column: 8;
                }
            }
            #welcome-message {
                display: none;
            }
        }
        #second-part {
            width: 100vw;
            height: 46vh;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            scroll-snap-align: center;
            #logo-end {
                display: none;
            }
            #map, .store-name, #white-background {
                display: none;
            }
            #welcome {
                display: flex;
                z-index: 3;
                text-align: left;
                width: 100vw;
                margin: 0 auto;
                justify-content: space-between;
                #texts {
                    padding-left: 10vw;
                }
                h1 {
                    color: black;
                    font-family: 'Ruda', sans-serif;
                    font-weight: 600;
                    font-size: 3.25rem;
                    line-height: 4rem;
                    #jcdbbq {
                        font-family: 'Rubik Mono One', monospace;
                        font-size: 3.75rem;
                        letter-spacing: 1.25px;
                    }
                }
                p {
                    color: gray;
                }
                #where {
                    padding-left: .5rem;
                    padding-bottom: .5rem;
                    font-style: italic;
                    color: rgb(255, 140, 0);
                    letter-spacing: .5px;
                    font-size: 1rem;
                }
                #subtitle {
                    padding-top: 1.5rem;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    letter-spacing: .25px;
                }
                #welcome-title {
                    align-items: end;
                }
                #icons {
                    align-items: end;
                    padding-right: 5vw;
                    img {
                        object-fit: cover;
                        opacity: .25;
                    }
                    #grill {
                        width: 80px;
                        height: 80px;
                    }
                    #soju {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
        #footer {
            top: 142vh;
        }
    }
    #section-menu {
        height: 80vh;
        #full-menu {
            width: 40vw;
        }
        #footer {
            top: 80vh;
        }
    }
    #section-contact {
        #footer {
            top: 80vh;
        }
    }
    #footer {
        position: absolute;
        width: 100vw;
        height: 12vh;
        padding: 1rem 2.5rem;
        background-color: black;
        p {
            color: rgba(255, 255, 255, 0.85);
            font-weight: 100;
            font-size: 1rem;
            line-height: 1.5rem;  
            a {
                color: white;
                cursor: pointer;
            }
            .hayeong:hover {
                text-decoration: none;
                color: rgb(255, 189, 108);
                transition-duration: .6s;
            }
        }
    }
}
@media screen and (min-width: 1280px) and (max-width: 1366px) {
    #first-section {
        .store-name {
            h1 {
                font-size: 5.25rem;
                line-height: 4.75rem;
            }
        }
    }
    #second-section {
        #first-part {
            #images {
                padding: .5rem;
                .grid-item {
                    height: 220px;
                }
            }
        }
        #second-part {
            #welcome {
                h1 {
                    font-size: 2.75rem;
                    line-height: 3rem;
                    #jcdbbq {
                        font-size: 3.25rem;
                    }
                }
                #subtitle {
                    font-size: 1.1rem;
                    padding-top: 1rem;
                }
            }
        }
    }
}
@media screen and (orientation: landscape) and (width: 1024px) {
    #header-landscape {
        #nav-landscape {
            #menu-landscape {
                a {
                    li {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
    #first-section {
        .store-name {
            h1 {
                font-size: 4.25rem;
                line-height: 3.75rem;
            }
        }
    }
    #second-section {
        #first-part {
            #images {
                padding: .5rem;
                .grid-item {
                    width: 11.5vw;
                    height: 160px;
                }
                .landscape {
                    h4 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: .75rem;
                    }
                }
            }
        }
        #second-part {
            #welcome {
                h1 {
                    font-size: 2.25rem;
                    line-height: 2.75rem;
                    #jcdbbq {
                        font-size: 2.75rem;
                    }
                }
                #subtitle {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding-top: 1rem;
                }
            }
        }
    }
    #footer {
        p {
            font-size: .75rem;
            line-height: 1.25rem;
        }
    }
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
    #header-portrait {
        display: none;
    }
    #header-landscape {
        background-color: rgba(0, 0, 0, 0.35);
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: opacity .5s;
        #nav-landscape {
            display: block;
            #menu-landscape {
                a {
                    display: inline-block;
                    li {
                        list-style-type: none;
                        width: 15vw;
                        font-size: 1.25rem;
                        color: white;
                    }
                    #order-online {
                        width: fit-content;
                        padding: .25rem 1rem;
                        border-radius: 12px;
                        background-color: rgb(255, 140, 0);
                        color: white;
                        position: absolute;
                        top: 2.5vh;
                        right: 3.5vw;
                    }
                }
            }
        }
    }
    .background {
        background-position-y: 250%;
        filter: brightness(30%);
    }
    #first-section {
        align-items: center;
        justify-content: space-around;
        padding-top: 8vh;
        height: 54vh;
        #logo-main {
            width: 58vw;
        }
        #store-info, #double-down {
            display: none;
        }
    }
    #second-section {
        height: 88vh;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        #first-part {
            padding-top: 0;
            gap: 0;
            width: 100vw;
            height: 42vh;
            background-color: black;
            justify-content: center;
            #logo-intro {
                display: none;
            }
            #images {
                gap: 1rem;
                padding: 1.5rem;
                background-color: white;
                .landscape {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: left;
                    padding: .25rem;
                    h4 {
                        font-size: 1.25rem;
                    }
                    p {
                        color: gray;
                    }
                }
                .grid-item {
                    width: 20vw;
                    height: 16vh;
                }
                #grid-1 {
                    border-radius: 0;
                }
                #g-1 {
                    grid-row: 1;
                    grid-column: 2;
                }
                #grid-2 {
                    grid-row: 1;
                    grid-column: 3;
                    border-radius: 0;
                }
                #g-2 {
                    grid-row: 1;
                    grid-column: 4;
                }
                #grid-3 {
                    grid-row: 2;
                    grid-column: 1;
                    border-radius: 0;
                }
                #g-3 {
                    grid-row: 2;
                    grid-column: 2;
                }
                #grid-4 {
                    grid-row: 2;
                    grid-column: 3;
                    border-radius: 0;
                }
                #g-4 {
                    grid-row: 2;
                    grid-column: 4;
                }
            }
            #welcome-message {
                display: none;
            }
        }
        #second-part {
            width: 100vw;
            height: 46vh;
            background-color: rgb(255, 255, 255);
            justify-content: center;
            scroll-snap-align: center;
            #logo-end {
                display: none;
            }
            #map, .store-name, #white-background {
                display: none;
            }
            #welcome {
                display: flex;
                z-index: 3;
                text-align: left;
                width: 100vw;
                margin: 0 auto;
                justify-content: space-between;
                #texts {
                    width: fit-content;
                    margin: auto;
                }
                h1 {
                    color: black;
                    font-family: 'Ruda', sans-serif;
                    font-weight: 600;
                    font-size: 2.75rem;
                    line-height: 3.25rem;
                    #jcdbbq {
                        font-family: 'Rubik Mono One', monospace;
                        font-size: 3rem;
                        letter-spacing: 1.25px;
                    }
                }
                p {
                    color: gray;
                }
                #subtitle {
                    padding: 1.5rem 2rem 0;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    letter-spacing: .25px;
                }
                #welcome-title {
                    align-items: end;
                    padding: 0 2rem;
                }
                #icons {
                    display: none;
                }
            }
        }
        #footer {
            top: 142vh;
        }
    }
    #section-menu {
        height: 80vh;
        #full-menu {
            width: 40vw;
        }
        #footer {
            top: 80vh;
        }
    }
    #section-contact {
        #footer {
            top: 80vh;
        }
    }
    #footer {
        position: absolute;
        width: 100vw;
        height: 8vh;
        padding: 1rem 2.5rem;
        background-color: black;
        p {
            color: rgba(255, 255, 255, 0.85);
            font-weight: 100;
            font-size: 1rem;
            line-height: 1.5rem;  
            a {
                color: white;
                cursor: pointer;
            }
            .hayeong:hover {
                text-decoration: none;
                color: rgb(255, 189, 108);
                transition-duration: .6s;
            }
        }
    }
}
