@import './global';
@import './variables';

.background {
    background: url('../images/JCD.jpg') center center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    filter: brightness(40%);
}
#first-section {
    gap: 4.5rem;
    scroll-snap-align: center; 
    .store-name {
        font-size: 3rem;
        line-height: 4rem;
        padding-top: calc(4rem + 8vh);
        p {
            color: rgba(245, 245, 245, 0.75);
            font-size: 1rem;
            line-height: 3rem;
            font-weight: 200;
        }
    }
    #store-info {
        text-align: left;
        gap: 1rem;
        .info {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid white;
            border-radius: 3px;
            height: 20vh;
            width: 38vw;
            padding-left: 1rem;
            p {
                #holidays {
                    font-size: .65rem;
                    color: rgb(190, 190, 190);
                }
            }
        }
        #address {
            p {
                line-height: 1.5rem;
            }
        }
        #address:hover {
            cursor: pointer;
        }
        #open-hours {
            gap: .75rem;
        }
    }
    #double-down {
        img {
            width: 15vw;
        }
    }
}
#second-section {
    #first-part {
        gap: 1rem;
        height: 100vh;
        scroll-snap-align: center; 
        .store-name {
            padding: calc(2rem + 8vh) 0 3rem 0;
            font-size: 2rem;
            line-height: 2.75rem;
        }
        #images {
            gap: 1rem;
            width: fit-content;
            margin: 0 auto;
            .grid-item {
                width: 34vw;
                height: 14vh;
            }
            #grid-1 {
                background-image: url('../images/grill.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 1;
                border-radius: 20px 0 0 0;
            }
            #grid-2 {
                background-image: url('../images/banchan.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 2;
                border-radius: 0 0 0 20px;
            }
            #grid-3 {
                background-image: url('../images/wrap.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 1;
                border-radius: 0 20px 0 0;
            }
            #grid-4 {
                background-image: url('../images/kimchistew.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 2;
                border-radius: 0 0 20px 0;
            }
        }
        #welcome-message {
            position: relative;
            #yes-break {
                display: none;
            }
            .orange-font {
                padding: 1rem 0;
                font-size: 1.15rem;
                line-height: 1.75rem;
                letter-spacing: 0.25px;
                font-weight: 700;
            }
            hr {
                width: 60%;
                margin: 0 auto;
                height: .5px;
            }
            .gray-font {
                font-weight: 200;
                padding: 1rem 0;
                line-height: 1.5rem;
            }
        }
    
    }
    #second-part {
        height: 100vh;
        scroll-snap-align: center; 
        a {
            color: white;
        }
        #map {
            padding: calc(3rem + 8vh) 0 3rem 0;
            iframe {
                width: 280px;
                height: 280px;
                border: .5px solid black; 
            }
            a {
                margin-top: 2rem;
                background-color: rgb(255, 140, 0);
                padding: .75rem;
                border-radius: 15px;
            }
            #landscape-only {
                display: none;
            }
        }
        .store-name {
            font-size: 2rem;
            line-height: 2.75rem;
        }
        #white-background {
            width: 100vw;
            height: 120vh;
            background-color: white;
            position: absolute;
            top: calc(100vh + 40vh);
            z-index: -2;
        }  
    }
}
#section-menu {
    min-height: 92vh;
    margin-top: 8vh;
    #full-menu {
        margin-top: 8vh;
        width: 80vw;
        background-color: white;
        border-radius: 15px;
        padding: 1.25rem 0;
        .meal-type {
            padding-top: .75rem;
        }
        h3 {
            padding-bottom: .75rem;
        }
        p {
            color: black;
            padding: 0 2rem .5rem 2rem;
        }
    }
    #footer {
        width: 100vw;
    }
}
@media screen and (max-width: 375px) {
    header {
        nav {
            #menu {
                padding: 2rem 0;
                li {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                }
            }        
        }
    }
    #first-section {
        gap: 3.5rem;
        .store-name {
            font-size: 2.75rem;
            line-height: 3.5rem;
            padding-top: 2rem;
            p {
                font-size: .85rem;
            }
        }
        #store-info {
            .info {
                p {
                    font-size: .85rem;
                }
            }
        }
        #double-down {
            img {
                width: 12.5vw;
            }
        }
    }
    #second-section {
        #first-part {
            .store-name {
                font-size: 1.75rem;
                line-height: 2.5rem;
                padding: 1rem 0 2rem 0;
            }
            #images {
                gap: .75rem;
                .grid-item {
                    width: 30vw;
                }
            }
            #welcome-message {
                .orange-font {
                    font-size: .9rem;
                    line-height: 1.5rem;
                    padding: 1rem 0;
                }
                .gray-font {
                    font-size: .8rem;
                    line-height: 1.25rem;
                    padding: 1rem 0;
                }
            }
        }
        #second-part {
            #map {
                iframe {
                    width: 260px;
                    height: 200px;
                }
                a {
                    font-size: .85rem;
                    padding: .65rem;
                    border-radius: 10px;
                }
            }
            .store-name {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}

@media screen and (min-width: 540px) {
    header {
        nav {
            #menu {
                padding: 2rem 0;
                li {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                }
            }        
        }
    }
    #first-section {
        gap: 3.75rem;
        .store-name {
            padding-top: 2rem;
        }
        #double-down {
            img {
                width: 10vw;
            }
        }
    }
    #second-section {
        #first-part {
            .store-name {
                padding: 1rem 0 2.5rem 0;
            }
            #images {
                gap: .8rem;
                .grid-item {
                    width: 28vw;
                }
            }
            #welcome-message {
                .orange-font {
                    font-size: .9rem;
                    line-height: 1.5rem;
                    padding: 1.25rem 0;
                }
                .gray-font {
                    font-size: .8rem;
                    line-height: 1.25rem;
                    padding: 1rem 0;
                }
            }
        }
        #second-part {
            #map {
                iframe {
                    width: 360px;
                    height: 220px;
                }
                a {
                    margin-top: 1.5rem;
                    font-size: .85rem;
                    padding: .65rem;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 912px) {
    #first-section {
        gap: 4.5rem;
        .store-name {
            padding-top: 2rem;
        }
        #store-info {
            gap: 2rem;
            .info {
                width: 30vw;
                padding-left: 2rem;
                p {
                    font-size: 1.25rem;
                    #holidays {
                        font-size: .75rem;
                        line-height: .5rem;
                    }
                }
            }
            #address {
                p {
                    line-height: 2.25rem;
                }
            }
            #open-hours {
                gap: 1.25rem;
                p {
                    line-height: 1.65rem;
                }
            }
        }
        #double-down {
            padding-top: 4rem;
            img {
                width: 10vw;
            }
        }
    }
    #second-section {
        #first-part {
            height: 92vh;
            #images {
                gap: 1.25rem;
                .grid-item {
                    width: 22vw;
                }
            }
            #welcome-message {
                .gray-font {
                    padding: 1.5rem 0 0 0;
                }
            }
        }
        #second-part {
            #map {
                iframe {
                    width: 65vw;
                    height: 360px;
                }
            }
        }
    }
}

@media screen and (orientation: landscape) {
    #header-portrait {
        display: none;
    }
    #header-landscape {
        background-color: rgba(255, 255, 255, 0.75);
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        transition: opacity .5s;
        #nav-landscape {
            display: block;
            #menu-landscape {
                a {
                    display: inline-block;
                    li {
                        list-style-type: none;
                        width: 15vw;
                        font-size: 1.45rem;
                        color: rgb(50, 50, 50);
                    }
                    #order-online {
                        width: fit-content;
                        padding: .35rem 1.75rem;
                        border-radius: 12px;
                        background-color: rgb(255, 140, 0);
                        color: white;
                        margin-left: 3rem;
                    }
                    li:hover {
                        color: rgb(255, 140, 0);
                        font-weight: 600;
                        text-shadow: 0 0 6px rgb(255, 255, 255);
                    }
                    #order-online:hover {
                        font-weight: 400;
                        text-shadow: none;
                        background-color: black;
                        color: rgb(255, 140, 0);
                    }
                }
            }
        }
    }
    #first-section {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 0;
        width: 74vw;
        height: 84vh;
        margin: 8vh auto 0 auto;
        scroll-snap-align: center; 
        .store-name {
            padding-top: 0;
            font-size: 3rem;
            line-height: 3.75rem;
        }
        #store-info {
            flex-direction: column;
            gap: 1.5rem;
            .info {
                width: 16vw;
                height: 24vh;
                padding-left: 2.5rem;
            }
            #address {
                p {
                    line-height: 2rem;
                }
            }
        }
        #double-down {
            display: none;
        }
    }
    #second-section {
        height: 108vh;
        width: 80vw;
        margin: auto;
        background-color: white;
        border-radius: 30px 30px 0 0;
        align-items: center;
        scroll-snap-align: center; 
        #first-part {
            gap: 0;
            width: fit-content;
            .store-name {
                display: none;
            }
            #images {
                padding-top: 3rem;
                .grid-item {
                    width: 16vw;
                }
                #grid-1 {
                    border-radius: 20px 0 0 20px;
                }
                #grid-2 {
                    grid-column: 2;
                    grid-row: 1;
                    border-radius: 0;
                }
                #grid-3 {
                    grid-column: 3;
                    grid-row: 1;
                    border-radius: 0;
                }
                #grid-4 {
                    grid-column: 4;
                    grid-row: 1;
                    border-radius: 0 20px 20px 0;
                }
            }
            #welcome-message {
                padding-top: 2rem;
                #no-break, br {
                    display: none;
                }
                #yes-break {
                    display: block;
                }
                .orange-font {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    padding: 0;
                }
                hr {
                    display: none;
                }
                .gray-font {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding: .5rem;
                    br {
                        display: none;
                    }
                }
            }
        }
        #second-part {
            width: fit-content;
            margin-top: 0;
            #map {
                padding: 2rem;
                flex-direction: row;
                gap: 3rem;
                align-items: center;
                iframe {
                    width: 38vw;
                    height: 220px;
                    border: none;
                }
                a {
                    display: none;
                }
                #landscape-only {
                    display: flex;
                    gap: 2rem;
                    padding: 0 2rem;
                    border-left: 1px solid rgba(169, 169, 169, 0.5);
                    #days {
                        text-align: center;
                        color: rgb(0, 0, 0);
                        font-weight: 700;
                        #blue {
                            color: rgb(50, 50, 255);
                        }
                        #red {
                            color: rgb(255, 35, 35);
                        }
                    }
                    p {
                        line-height: 2rem;
                        color: rgb(105, 105, 105);
                        text-align: left;
                        #italic {
                            font-style: italic;
                        }
                    }
                }
            }
            .store-name {
                display: none;
            }
            #white-background {
                display: none;
            }   
            #footer {
                width: 100vw;
                padding: 1rem 2.5rem;
                .white-font {
                    color: white;
                }
                p {
                    font-size: .85rem;
                    line-height: 1.25rem;  
                }
            }
        }
    }
}
@media screen and (width: 1024px) {
    #header-landscape {
        #nav-landscape {
            #menu-landscape {
                a {
                    li {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
    #first-section {
        #store-info {
            .info {
                width: 18vw;
                height: 26vh;
                padding-left: 1.75rem;
                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
            #address {
                p {
                    line-height: 1.5rem;
                }
            }
            #open-hours {
                gap: 1.25rem;
                p {
                    line-height: 1.25rem;
                }
            }
        }
    }
    #second-section {
        #first-part {
            #welcome-message {
                .orange-font {
                    font-size: 1.15rem;
                    line-height: 1.65rem;
                }
            }
        }
        #second-part {
            #map {
                padding: 0;
                gap: 2rem;
                iframe {
                    width: 22vw;
                    height: 160px;
                }
                #landscape-only {
                    p {
                        line-height: 1.5rem;
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1280px) {
    #first-section {
        .store-name {
            h1 {
                font-size: 6rem;
                line-height: 5.25rem;
            }
            p {
                font-size: 1.25rem;
            }
        }
        #store-info {
            .info {
                padding-left: 1.75rem;
            }
        }
    }
    #second-section {
        #first-part {
            #welcome-message {
                .orange-font {
                    font-size: 1.45rem;
                    line-height: 2rem;
                }
                .gray-font {
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                }
            }
        }
        #second-part {
            #map {
                #landscape-only {
                    p {
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}