@import './global';
@import './variables';

.background {
    background: url('../images/JCD.jpg') center center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
    filter: brightness(40%);
}
#first-section {
    gap: 6rem;
    .store-name {
        font-size: 3.5rem;
        line-height: 4.5rem;
        padding-top: 4rem;
        p {
            color: rgba(245, 245, 245, 0.75);
            font-size: 1rem;
            line-height: 3rem;
            font-weight: 200;
        }
    }
    #store-info {
        text-align: left;
        gap: 1rem;
        .info {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid white;
            border-radius: 3px;
            height: 20vh;
            width: 38vw;
            padding-left: 1rem;
            p {
                font-weight: 100;
                #holidays {
                    font-size: .65rem;
                    color: rgb(190, 190, 190);
                }
            }
        }
        #address {
            p {
                line-height: 1.5rem;
            }
        }
        #address:hover {
            cursor: pointer;
        }
        #open-hours {
            gap: .75rem;
        }
    }
    #double-down {
        img {
            width: 15vw;
        }
    }
}
#second-section {
    height: 200vh;
    #first-part {
        gap: 1rem;
        .store-name {
            padding: 2rem 0 3rem 0;
            font-size: 2rem;
            line-height: 2.75rem;
        }
        #images {
            gap: 1rem;
            width: fit-content;
            margin: 0 auto;
            .grid-item {
                width: 36vw;
                height: 16vh;
            }
            #grid-1 {
                background-image: url('../images/grill.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 1;
                border-radius: 20px 0 0 0;
            }
            #grid-2 {
                background-image: url('../images/banchan.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 1;
                grid-row: 2;
                border-radius: 0 0 0 20px;
            }
            #grid-3 {
                background-image: url('../images/wrap.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 1;
                border-radius: 0 20px 0 0;
            }
            #grid-4 {
                background-image: url('../images/kimchistew.jpg');
                background-position: center;
                background-size: cover;
                grid-column: 2;
                grid-row: 2;
                border-radius: 0 0 20px 0;
            }
        }
        #welcome-message {
            position: relative;
            .orange-font {
                padding: 1.5rem 0;
                font-size: 1.15rem;
                line-height: 1.75rem;
                letter-spacing: 0.25px;
                font-weight: 700;
            }
            hr {
                width: 60%;
                margin: 0 auto;
                height: .5px;
            }
            .gray-font {
                font-weight: 200;
                padding: 1.5rem 0;
                line-height: 1.5rem;
            }
        }
    
    }
    #second-part {
        margin-top: 8vh;
        height: 92vh;
        #map {
            padding: 3rem 0;
            iframe {
                width: 280px;
                height: 280px;
                border: .5px solid black; 
            }
            a {
                margin-top: 1rem;
                background-color: rgb(255, 140, 0);
                padding: .75rem;
                border-radius: 15px;
            }
        }
        .store-name {
            font-size: 2rem;
            line-height: 2.75rem;
        }
        #white-background {
            width: 100vw;
            height: 120vh;
            background-color: white;
            position: absolute;
            top: calc(100vh + 40vh);
            z-index: -2;
        }  
    }
}

#section-menu {
    min-height: 92vh;
    margin-top: 8vh;
    #full-menu {
        margin-top: 8vh;
        width: 80vw;
        background-color: white;
        border-radius: 15px;
        padding: 1.25rem 0;
        .meal-type {
            padding-top: .75rem;
        }
        h3 {
            padding-bottom: .75rem;
        }
        p {
            color: black;
            padding: 0 2rem .5rem 2rem;
        }
    }
    #footer {
        width: 100vw;
    }
}

@media screen and (max-width: 375px) {
    header {
        nav {
            #menu {
                padding: 2rem 0;
                li {
                    padding: 1rem 0;
                    font-size: 1.25rem;
                }
            }        
        }
    }
    #first-section {
        gap: 3.5rem;
        .store-name {
            font-size: 2.75rem;
            line-height: 3.5rem;
            padding-top: 2rem;
            p {
                font-size: .85rem;
            }
        }
        #store-info {
            .info {
                p {
                    font-size: .85rem;
                }
            }
        }
        #double-down {
            img {
                width: 12.5vw;
            }
        }
    }
    #second-section {
        #first-part {
            .store-name {
                font-size: 1.75rem;
                line-height: 2.5rem;
                padding: 1rem 0 2rem 0;
            }
            #images {
                gap: .75rem;
                .grid-item {
                    width: 30vw;
                }
            }
            #welcome-message {
                .orange-font {
                    font-size: .9rem;
                    line-height: 1.5rem;
                    padding: 1rem 0;
                }
                .gray-font {
                    font-size: .8rem;
                    line-height: 1.25rem;
                    padding: 1rem 0;
                }
            }
        }
        #second-part {
            #map {
                iframe {
                    width: 260px;
                    height: 200px;
                }
                a {
                    font-size: .85rem;
                    padding: .65rem;
                    border-radius: 10px;
                }
            }
            .store-name {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }
}