@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Ruda:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

body {
  text-align: center;
  z-index: -20;
}

.body-black {
  background-color: black;
}

.body-whitesmoke {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
  height: 72vh;
  margin-top: 8vh;
  background-image: url("../images/Grill.png");
  background-repeat: repeat;
  background-size: 100px 100px;
  background-blend-mode: soft-light;
}

.body-whitesmoke::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72vh;
  background: linear-gradient(90deg, transparent 500px, rgba(0, 0, 0, 0) 500px);
  pointer-events: none;
}

.relative {
  position: relative;
}

section {
  width: 100vw;
}

#first-section, #first-part, #second-part {
  height: 100vh;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.j-c-c {
  justify-content: center;
}

.j-c-s {
  justify-content: start;
}

.a-s-c {
  align-self: center;
}

.a-i-c {
  align-items: center;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-a {
  justify-content: space-around;
}

.grid {
  display: grid;
}

.j-i-c {
  justify-items: center;
}

.orange-font {
  color: rgb(255, 93, 44);
}

.gray-font {
  color: rgb(160, 160, 160);
}

h1, p {
  color: white;
}

a {
  text-decoration: none;
}

#header-portrait {
  height: 8vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.65);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  z-index: 100;
}
#header-portrait #nav-portrait {
  display: block;
  position: relative;
  top: calc((8vh - 24px) / 2);
  left: calc(100vw - 56px);
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
#header-portrait #nav-portrait input {
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#header-portrait #nav-portrait span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#header-portrait #nav-portrait span:first-child {
  transform-origin: 0% 0%;
}
#header-portrait #nav-portrait span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#header-portrait #nav-portrait input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
#header-portrait #nav-portrait input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#header-portrait #nav-portrait input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#header-portrait #nav-portrait #menu {
  position: absolute;
  top: calc(8vh - (8vh - 24px) / 2);
  left: calc(56px - 100vw);
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3.5rem 0;
  background-color: rgb(255, 255, 255);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: scale(0);
  border-bottom: 0.5px solid black;
}
#header-portrait #nav-portrait #menu li {
  padding: 1.25rem 0;
  font-size: 1.55rem;
  color: black;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1px;
}
#header-portrait #nav-portrait #menu #order-online {
  color: white;
  background-color: rgb(255, 140, 0);
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  letter-spacing: 0;
}
#header-portrait #nav-portrait input:checked ~ #menu {
  opacity: 1;
  transform: scale(1);
}

#header-landscape #nav-landscape {
  display: none;
}

#footer {
  background-color: black;
  padding: 0 1.75rem;
}
#footer p {
  text-align: right;
  color: darkgrey;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.15px;
}
#footer p a {
  color: white;
}

h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
}

h3 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 200;
}

body {
  font-family: "Ruda", sans-serif;
}

.background {
  background: url("../images/JCD.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -5;
  filter: brightness(40%);
  transform: translate3d(0, 0, 0);
}

#first-section {
  gap: 3rem;
  scroll-snap-align: center;
}
#first-section #logo-main {
  width: 88vw;
  padding-left: 16px;
}
#first-section #store-info {
  text-align: left;
  gap: 1rem;
}
#first-section #store-info .info {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-radius: 3px;
  height: 20vh;
  width: 38vw;
  padding-left: 1rem;
}
#first-section #store-info .info p #holidays {
  font-size: 0.65rem;
  color: rgb(190, 190, 190);
}
#first-section #store-info #address p {
  line-height: 1.5rem;
}
#first-section #store-info #address:hover {
  cursor: pointer;
}
#first-section #store-info #open-hours {
  gap: 0.75rem;
}
#first-section #double-down img {
  width: 15vw;
}

#second-section #first-part {
  height: 100vh;
  scroll-snap-align: start;
}
#second-section #first-part #logo-intro {
  width: 56vw;
  padding-left: 14px;
  margin: 1rem 0;
}
#second-section #first-part #images {
  gap: 0.75rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
#second-section #first-part #images .landscape {
  display: none;
}
#second-section #first-part #images .grid-item {
  width: 30vw;
  height: 12vh;
}
#second-section #first-part #images #grid-1 {
  background-image: url("../images/galbi.jpeg");
  background-position: center;
  background-size: cover;
  grid-column: 1;
  grid-row: 1;
  border-radius: 20px 0 0 0;
}
#second-section #first-part #images #grid-2 {
  background-image: url("../images/bibimbap.jpg");
  background-position: center;
  background-size: cover;
  grid-column: 1;
  grid-row: 2;
  border-radius: 0 0 0 20px;
}
#second-section #first-part #images #grid-3 {
  background-image: url("../images/bulgogi.jpg");
  background-position: center;
  background-size: cover;
  grid-column: 2;
  grid-row: 1;
  border-radius: 0 20px 0 0;
}
#second-section #first-part #images #grid-4 {
  background-image: url("../images/porkbelly.jpg");
  background-position: center;
  background-size: cover;
  grid-column: 2;
  grid-row: 2;
  border-radius: 0 0 20px 0;
}
#second-section #first-part #welcome-message {
  position: relative;
}
#second-section #first-part #welcome-message #yes-break {
  display: none;
}
#second-section #first-part #welcome-message .orange-font {
  padding: 3rem 1rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.65rem;
  letter-spacing: 0.25px;
  font-weight: 700;
}
#second-section #first-part #welcome-message hr {
  width: 60%;
  margin: 0 auto;
  height: 0.5px;
}
#second-section #first-part #welcome-message .gray-font {
  font-weight: 200;
  padding: 0.95rem 1.25rem;
  line-height: 1.5rem;
}
#second-section #second-part {
  height: 90vh;
  scroll-snap-align: start;
}
#second-section #second-part #welcome {
  display: none;
}
#second-section #second-part a {
  color: white;
}
#second-section #second-part #map {
  height: 60vh;
  padding: calc(3rem + 6vh) 0 3rem 0;
}
#second-section #second-part #map iframe {
  width: 280px;
  height: 280px;
  border: 0.5px solid black;
}
#second-section #second-part #map a {
  margin: 1.75rem auto 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 140, 0);
  padding: 0.75rem 1.25rem;
  border-radius: 15px;
}
#second-section #second-part #map #landscape-only {
  display: none;
}
#second-section #second-part #logo-end {
  width: 52vw;
  padding-left: 14px;
}
#second-section #second-part #white-background {
  width: 100vw;
  height: 118vh;
  background-color: white;
  position: absolute;
  top: 146vh;
  z-index: -2;
}

#footer {
  height: 10vh;
}

#section-contact {
  height: 80vh;
  margin-top: 8vh;
  gap: 2rem;
}
#section-contact .card {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  width: 30vw;
  height: 54vh;
  background-color: rgb(252, 252, 252);
  gap: 2rem;
}
#section-contact iframe {
  width: 20vw;
  height: 20vh;
  border: 0;
}
#section-contact p {
  color: black;
  font-size: 1.15rem;
}
#section-contact h1 {
  font-size: 2rem;
  line-height: 1.75rem;
}
#section-contact .black-font {
  color: black;
}
#section-contact #copyLink {
  padding: 1.5rem 0 0.25rem 0;
  line-height: 1.75rem;
}
#section-contact #copyLink:hover {
  text-decoration: underline;
  transition-duration: 0.6s;
  cursor: pointer;
}
#section-contact #click {
  color: rgb(255, 140, 0);
  font-size: 0.85rem;
}
#section-contact #open-hours {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.5rem auto;
  line-height: 2rem;
  gap: 2rem;
}
#section-contact #open-hours #days {
  letter-spacing: 1px;
  font-weight: 600;
}
#section-contact #open-hours #days #blue {
  color: rgb(0, 0, 195);
}
#section-contact #open-hours #days #red {
  color: rgb(195, 0, 0);
}
#section-contact #open-hours #time {
  text-align: left;
}
#section-contact #phone {
  background-color: rgb(255, 140, 0);
  padding: 1rem 2rem;
  border-radius: 15px;
}
#section-contact #phone p {
  color: white;
}
#section-contact #footer {
  top: 88vh;
}

@media screen and (max-width: 375px) {
  header nav #menu {
    padding: 2rem 0;
  }
  header nav #menu li {
    padding: 1rem 0;
    font-size: 1.25rem;
  }
  #first-section {
    gap: 3.5rem;
  }
  #first-section .store-name {
    font-size: 2.75rem;
    line-height: 3.5rem;
    padding-top: calc(2rem + 8vh);
  }
  #first-section .store-name p {
    font-size: 0.85rem;
  }
  #first-section #store-info .info p {
    font-size: 0.85rem;
  }
  #first-section #double-down img {
    width: 12.5vw;
  }
  #second-section #first-part {
    gap: 0;
  }
  #second-section #first-part #logo-intro {
    width: 40vw;
  }
  #second-section #first-part #images {
    gap: 0.75rem;
  }
  #second-section #first-part #images .grid-item {
    width: 30vw;
  }
  #second-section #first-part #welcome-message .orange-font {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 1rem 0;
  }
  #second-section #first-part #welcome-message .gray-font {
    font-size: 0.8rem;
    line-height: 1.25rem;
    padding: 1rem 0;
  }
  #second-section #second-part #map iframe {
    width: 260px;
    height: 200px;
  }
  #second-section #second-part #map a {
    font-size: 0.9rem;
    border-radius: 12px;
  }
  #second-section #second-part .store-name {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  #footer p {
    font-size: 0.65rem;
    line-height: 0.9rem;
  }
}
@media screen and (min-width: 540px) {
  header nav #menu {
    padding: 2rem 0;
  }
  header nav #menu li {
    padding: 1rem 0;
    font-size: 1.25rem;
  }
  #first-section {
    gap: 3.75rem;
  }
  #first-section #logo-main {
    width: 52vw;
  }
  #first-section #double-down img {
    width: 10vw;
  }
  #second-section #first-part #logo-intro {
    width: 36vw;
  }
  #second-section #first-part #images {
    gap: 0.8rem;
  }
  #second-section #first-part #images .grid-item {
    width: 28vw;
  }
  #second-section #first-part #welcome-message .orange-font {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 1.25rem 0;
    margin: 0 20vw;
  }
  #second-section #first-part #welcome-message .gray-font {
    font-size: 0.8rem;
    line-height: 1.25rem;
    padding: 1rem 0;
    margin: 0 16vw;
  }
  #second-section #second-part #logo-end {
    width: 28vw;
  }
  #second-section #second-part #map iframe {
    width: 360px;
    height: 220px;
  }
  #second-section #second-part #map a {
    margin-top: 1.5rem;
    font-size: 0.85rem;
    padding: 0.65rem;
    border-radius: 10px;
  }
}
@media screen and (orientation: landscape) {
  #header-portrait {
    display: none;
  }
  #header-landscape {
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: opacity 0.5s;
  }
  #header-landscape #nav-landscape {
    display: block;
  }
  #header-landscape #nav-landscape #menu-landscape a {
    display: inline-block;
    cursor: default;
  }
  #header-landscape #nav-landscape #menu-landscape a li {
    list-style-type: none;
    margin: 0 3.5rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  #header-landscape #nav-landscape #menu-landscape a #order-online {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.35rem 1.75rem;
    border-radius: 12px;
    background-color: rgb(255, 140, 0);
    color: white;
    position: absolute;
    top: 1.5vh;
    right: 3vw;
  }
  #header-landscape #nav-landscape #menu-landscape a li:hover {
    color: rgb(255, 140, 0);
    transition-duration: 0.6s;
  }
  #header-landscape #nav-landscape #menu-landscape a #order-online:hover {
    font-weight: 400;
    text-shadow: none;
    background-color: black;
    color: rgb(255, 140, 0);
    transition-duration: 0.6s;
  }
  .background {
    background-position-y: 80%;
    filter: brightness(30%);
  }
  #first-section {
    align-items: center;
    justify-content: space-around;
    padding-top: 8vh;
    height: 54vh;
  }
  #first-section #logo-main {
    width: 32vw;
    padding-left: 14px;
  }
  #first-section #store-info, #first-section #double-down {
    display: none;
  }
  #second-section {
    height: 88vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  #second-section #first-part {
    gap: 0;
    width: 100vw;
    height: 42vh;
    background-color: black;
    justify-content: center;
  }
  #second-section #first-part #logo-intro {
    display: none;
  }
  #second-section #first-part #images {
    gap: 0;
    padding: 2rem;
    background-color: white;
  }
  #second-section #first-part #images .landscape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
  }
  #second-section #first-part #images .landscape h4 {
    font-size: 1.25rem;
  }
  #second-section #first-part #images .landscape p {
    color: gray;
  }
  #second-section #first-part #images .grid-item {
    width: 11vw;
    height: 265px;
  }
  #second-section #first-part #images #grid-1 {
    border-radius: 0;
  }
  #second-section #first-part #images #g-1 {
    grid-row: 1;
    grid-column: 2;
  }
  #second-section #first-part #images #grid-2 {
    grid-row: 1;
    grid-column: 3;
    border-radius: 0;
  }
  #second-section #first-part #images #g-2 {
    grid-row: 1;
    grid-column: 4;
  }
  #second-section #first-part #images #grid-3 {
    grid-row: 1;
    grid-column: 5;
    border-radius: 0;
  }
  #second-section #first-part #images #g-3 {
    grid-row: 1;
    grid-column: 6;
  }
  #second-section #first-part #images #grid-4 {
    grid-row: 1;
    grid-column: 7;
    border-radius: 0;
  }
  #second-section #first-part #images #g-4 {
    grid-row: 1;
    grid-column: 8;
  }
  #second-section #first-part #welcome-message {
    display: none;
  }
  #second-section #second-part {
    width: 100vw;
    height: 46vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    scroll-snap-align: center;
  }
  #second-section #second-part #logo-end {
    display: none;
  }
  #second-section #second-part #map, #second-section #second-part .store-name, #second-section #second-part #white-background {
    display: none;
  }
  #second-section #second-part #welcome {
    display: flex;
    z-index: 3;
    text-align: left;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-between;
  }
  #second-section #second-part #welcome #texts {
    padding-left: 10vw;
  }
  #second-section #second-part #welcome h1 {
    color: black;
    font-family: "Ruda", sans-serif;
    font-weight: 600;
    font-size: 3.25rem;
    line-height: 4rem;
  }
  #second-section #second-part #welcome h1 #jcdbbq {
    font-family: "Rubik Mono One", monospace;
    font-size: 3.75rem;
    letter-spacing: 1.25px;
  }
  #second-section #second-part #welcome p {
    color: gray;
  }
  #second-section #second-part #welcome #where {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-style: italic;
    color: rgb(255, 140, 0);
    letter-spacing: 0.5px;
    font-size: 1rem;
  }
  #second-section #second-part #welcome #subtitle {
    padding-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
  }
  #second-section #second-part #welcome #welcome-title {
    align-items: end;
  }
  #second-section #second-part #welcome #icons {
    align-items: end;
    padding-right: 5vw;
  }
  #second-section #second-part #welcome #icons img {
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.25;
  }
  #second-section #second-part #welcome #icons #grill {
    width: 80px;
    height: 80px;
  }
  #second-section #second-part #welcome #icons #soju {
    width: 100px;
    height: 100px;
  }
  #second-section #footer {
    top: 142vh;
  }
  #section-menu {
    height: 80vh;
  }
  #section-menu #full-menu {
    width: 40vw;
  }
  #section-menu #footer {
    top: 80vh;
  }
  #section-contact #footer {
    top: 80vh;
  }
  #footer {
    position: absolute;
    width: 100vw;
    height: 12vh;
    padding: 1rem 2.5rem;
    background-color: black;
  }
  #footer p {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #footer p a {
    color: white;
    cursor: pointer;
  }
  #footer p .hayeong:hover {
    text-decoration: none;
    color: rgb(255, 189, 108);
    transition-duration: 0.6s;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1366px) {
  #first-section .store-name h1 {
    font-size: 5.25rem;
    line-height: 4.75rem;
  }
  #second-section #first-part #images {
    padding: 0.5rem;
  }
  #second-section #first-part #images .grid-item {
    height: 220px;
  }
  #second-section #second-part #welcome h1 {
    font-size: 2.75rem;
    line-height: 3rem;
  }
  #second-section #second-part #welcome h1 #jcdbbq {
    font-size: 3.25rem;
  }
  #second-section #second-part #welcome #subtitle {
    font-size: 1.1rem;
    padding-top: 1rem;
  }
}
@media screen and (orientation: landscape) and (width: 1024px) {
  #header-landscape #nav-landscape #menu-landscape a li {
    font-size: 1.15rem;
  }
  #first-section .store-name h1 {
    font-size: 4.25rem;
    line-height: 3.75rem;
  }
  #second-section #first-part #images {
    padding: 0.5rem;
  }
  #second-section #first-part #images .grid-item {
    width: 11.5vw;
    height: 160px;
  }
  #second-section #first-part #images .landscape h4 {
    font-size: 1rem;
  }
  #second-section #first-part #images .landscape p {
    font-size: 0.75rem;
  }
  #second-section #second-part #welcome h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  #second-section #second-part #welcome h1 #jcdbbq {
    font-size: 2.75rem;
  }
  #second-section #second-part #welcome #subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
  #footer p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  #header-portrait {
    display: none;
  }
  #header-landscape {
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: opacity 0.5s;
  }
  #header-landscape #nav-landscape {
    display: block;
  }
  #header-landscape #nav-landscape #menu-landscape a {
    display: inline-block;
  }
  #header-landscape #nav-landscape #menu-landscape a li {
    list-style-type: none;
    width: 15vw;
    font-size: 1.25rem;
    color: white;
  }
  #header-landscape #nav-landscape #menu-landscape a #order-online {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    background-color: rgb(255, 140, 0);
    color: white;
    position: absolute;
    top: 2.5vh;
    right: 3.5vw;
  }
  .background {
    background-position-y: 250%;
    filter: brightness(30%);
  }
  #first-section {
    align-items: center;
    justify-content: space-around;
    padding-top: 8vh;
    height: 54vh;
  }
  #first-section #logo-main {
    width: 68vw;
  }
  #first-section #store-info, #first-section #double-down {
    display: none;
  }
  #second-section {
    height: 88vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  #second-section #first-part {
    gap: 0;
    width: 100vw;
    height: 42vh;
    background-color: black;
    justify-content: center;
  }
  #second-section #first-part #logo-intro {
    display: none;
  }
  #second-section #first-part #images {
    gap: 1rem;
    padding: 1.5rem;
    background-color: white;
  }
  #second-section #first-part #images .landscape {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0.25rem;
  }
  #second-section #first-part #images .landscape h4 {
    font-size: 1.25rem;
  }
  #second-section #first-part #images .landscape p {
    color: gray;
  }
  #second-section #first-part #images .grid-item {
    width: 20vw;
    height: 16vh;
  }
  #second-section #first-part #images #grid-1 {
    border-radius: 0;
  }
  #second-section #first-part #images #g-1 {
    grid-row: 1;
    grid-column: 2;
  }
  #second-section #first-part #images #grid-2 {
    grid-row: 1;
    grid-column: 3;
    border-radius: 0;
  }
  #second-section #first-part #images #g-2 {
    grid-row: 1;
    grid-column: 4;
  }
  #second-section #first-part #images #grid-3 {
    grid-row: 2;
    grid-column: 1;
    border-radius: 0;
  }
  #second-section #first-part #images #g-3 {
    grid-row: 2;
    grid-column: 2;
  }
  #second-section #first-part #images #grid-4 {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0;
  }
  #second-section #first-part #images #g-4 {
    grid-row: 2;
    grid-column: 4;
  }
  #second-section #first-part #welcome-message {
    display: none;
  }
  #second-section #second-part {
    width: 100vw;
    height: 46vh;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    scroll-snap-align: center;
  }
  #second-section #second-part #logo-end {
    display: none;
  }
  #second-section #second-part #map, #second-section #second-part .store-name, #second-section #second-part #white-background {
    display: none;
  }
  #second-section #second-part #welcome {
    display: flex;
    z-index: 3;
    text-align: left;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-between;
  }
  #second-section #second-part #welcome #texts {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  #second-section #second-part #welcome h1 {
    color: black;
    font-family: "Ruda", sans-serif;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
  #second-section #second-part #welcome h1 #jcdbbq {
    font-family: "Rubik Mono One", monospace;
    font-size: 3rem;
    letter-spacing: 1.25px;
  }
  #second-section #second-part #welcome p {
    color: gray;
  }
  #second-section #second-part #welcome #subtitle {
    padding: 1.5rem 2rem 0;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
  }
  #second-section #second-part #welcome #welcome-title {
    align-items: end;
    padding: 0 2rem;
  }
  #second-section #second-part #welcome #icons {
    display: none;
  }
  #second-section #footer {
    top: 142vh;
  }
  #section-menu {
    height: 80vh;
  }
  #section-menu #full-menu {
    width: 40vw;
  }
  #section-menu #footer {
    top: 80vh;
  }
  #section-contact #footer {
    top: 80vh;
  }
  #footer {
    position: absolute;
    width: 100vw;
    height: 12vh;
    padding: 1rem 2.5rem;
    background-color: black;
  }
  #footer p {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #footer p a {
    color: white;
    cursor: pointer;
  }
  #footer p .hayeong:hover {
    text-decoration: none;
    color: rgb(255, 189, 108);
    transition-duration: 0.6s;
  }
}/*# sourceMappingURL=styles.css.map */